* {
  margin: 0; padding: 0; outline: 0;
}
body {
  background-color: grey !important;
}

div {
  display: block;
}

.container {
  max-width: 1140px !important;
}
.navbar-logo {
  width: 150px;
  height: 43.86px;
}
